{% extends 'shared/layout.html' %}
{% block body %}
<header class="jumbotron">
    <div class="container">
        <h1>建立商品成功</h1>
    </div>
</header>
<section>
    <div class="container">
        <h2>你已成功建立了一筆新商品資料</h2>
        <!-- TODO: 顯示剛才被成功產生的產品資訊 -->
        <!-- session.dict.key 取得key對應的value -->
        <h4>{{ session.new_product.title }}</h4>
        <table class="table">
            <!-- 表頭區 -->
            <thead>
                <!-- tr是橫排 -->
                <tr>
                    <th>變數</th>
                    <th>值</th>
                </tr>
            </thead>
            <tbody>
                {% set product = session.new_product %}
                {% for key in product %}
                <tr>
                    <!-- 兩個格子 -->
                    <td>{{ key }}</td>
                    <td>{{ product[key] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">回到首頁</a>
    </div>
</section>
{% endblock %}